.header{
  background:white;
  border-bottom:1px solid var(--border);
}

.header-inner{
  display:flex;
  align-items:center;
  justify-content:space-between;
  height:70px;
}

.logo{
  font-size:26px;
  font-weight:700;
}

.logo span{
  color:var(--primary);
}

.profile{
  display:flex;
  align-items:center;
  gap:14px;
}

.profile img{
  width:38px;
  height:38px;
  border-radius:50%;
}

.name{
  font-size:14px;
  font-weight:600;
}

.company{
  font-size:12px;
  color:var(--muted);
}

.logout-btn{
  display:flex;
  align-items:center;
  gap:6px;

  color: red;
  background:transparent;
  border:1px solid #e6e6ef;

  padding:6px 12px;

  border-radius:8px;

  font-size:14px;
  font-weight:500;

  cursor:pointer;

  transition:all 0.2s ease;
}

.logout-btn:hover{
  background:#f7f5ff;
  border-color:#8b5cf6;
  color:#6d28d9;
}